@page "/admin"

@{
}

<!DOCTYPE html>
<html>
<head>
    <title>BookSite Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>

    <component type="typeof(BookSite2._0.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>
</html>