@page
@model BookSite2._0.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Order Confirmation</h2>
    <h4>Your order will be processed shortly.</h4>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
